.first_element_part{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    max-width: 40%;
}

.second_element_part{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 100%;
    max-width: 20%;
}

.title_part{
    font-size: 17px;
    font-weight: bold;
}

.div_input_time{
    border: solid black 1px;
    height: 32px;
}

.input_time{
    border: none;
    font-size: 15px;
    width: 50px;
    vertical-align: super;
}

.btn-timer{
    width: 30px;
    border: none;
    background-color: transparent;
    outline: none;
    margin-top: 0px!important;
}